<div class="container">
    <div class="row content-todo">

        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <h3 style="text-align: center;">TODO LIST</h3>

            <div class="alert alert-danger" role="alert" *ngIf="errorCreateTask">
                Error al agregar un nuevo item
            </div>

            <form action="" #formTODO="ngForm" (ngSubmit)="createTodo(formTODO)">

                <div class="row">
                    <div class="col col-xl-9 col-lg-9 col-md-9 col-sm-6 col-6">
                        <div class="mb-3">
                            <input type="email" class="form-control" id="todoInputId" placeholder="Título"
                                [(ngModel)]="todoItem.description" name="todoItem" #itemTodo="ngModel" required>

                            <small class="text-errors" *ngIf="itemTodo.touched && itemTodo.errors?.['required']">
                                Es necesario agregar un TODO
                            </small>
                        </div>
                    </div>

                    <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6" style="text-align: end;">
                        <button style="width: 100%;" type="submit" class="btn btn-primary" [disabled]="formTODO.invalid">Agregar</button>

                    </div>

                </div>
            </form>

        </div>

        <ng-container *ngIf="todoList.length > 0; else noTasks">

            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngFor="let todoItem of todoList">
                <app-todo-item [todoItem]="todoItem" (optionSucess)="getTodoList($event)"></app-todo-item>
            </div>
        </ng-container>


        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 bg-number-tasks">

            {{tasksCompleted}} de {{todoList.length}} tarea(s) completadas

        </div>

    </div>
</div>

<ng-template #noTasks>
    <p style="text-align: center; padding:10px">
        La lista se encuentra vacía
    </p>
</ng-template>